[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=budgie welcome
Exec=budgie-welcome
Icon=/usr/share/budgie-welcome/img/distro-icon.svg
Comment=The budgie welcome utility.
Name[en_US]=budgie welcome
OnlyShowIn=Budgie;
