[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=budgie-remix welcome
Exec=budgie-remix-welcome
Icon=gtk-info
Comment=The budgie-remix welcome utility.
