[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Budgie Welcome
GenericName=Welcome Screen
Exec=budgie-welcome
Icon=/usr/share/budgie-welcome/img/distro-icon.svg
Comment=Welcome app to greet new users on their first login
OnlyShowIn=Budgie;
