[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=budgie welcome
Exec=budgie-welcome
Icon=gtk-info
Comment=The budgie welcome utility.
Name[en_US]=budgie.desktop
OnlyShowIn=Budgie;
