<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script>import "preline/dist/preline.js";</script>

	</head>
	<body>

  <div id="wrapper">
    <div id="title-inject" class="text-center text-3xl font-bold my-4">Introduction</div>
    <div id="content" class="container mx-auto">
      <div class="text-center mb-8">
        <div class="inline-block">
          <img src="img/distro-icon.svg" width="150" height="150" class="inline-block">
          <p class="mt-4">Simplicity and Elegance.</p>
        </div>
        <div class="mt-4">
          <a class="btn btn-primary btn-lg" onclick="$('html, body').animate({scrollTop: 520}, 1000)">
            What is Ubuntu Budgie?</a>
        </div>
      </div>
      <hr class="border-gray-400 my-8">
      <div class="text-center mb-8">
        <img src="img/distro-icon.svg" width="50" height="50" class="inline-block mx-4">
        <img src="img/os/windows.svg" width="50" height="50" class="inline-block mx-4">
        <img src="img/os/linux.svg" width="50" height="50" class="inline-block mx-4">
        <img src="img/os/apple.svg" width="50" height="50" class="inline-block mx-4">
        <img src="img/os/chrome.svg" width="50" height="50" class="inline-block mx-4">
      </div>
      <div>
        <p>Ubuntu Budgie is an operating system -- the core software that runs your computer, similar to:
          <a href="https://www.microsoft.com">Microsoft's Windows</a>,
          <a href="https://www.apple.com">Apple's macOS</a> and
          <a href="https://www.google.com/chrome">Google's Chrome OS</a>.
        </p>
        <p>Ubuntu Budgie is a distribution (variation) of GNU/Linux. A dependable, secure, capable, and modern
          computer system that rivals all others in popularity and actual use.</p>
        <p>Unlike other operating systems, Linux is a major one used:</p>
        <ul class="list-disc pl-8">
          <li>on most of the world's fastest and most powerful supercomputers</li>
          <li>on many of (if not most of) the computers that make up the backbone of Internet</li>
          <li>on corporate servers that require stability and reliability</li>
        </ul>
      </div>
      <div class="mt-8">
        <p>Ubuntu Budgie is a stable, easy-to-use operating system with a configurable desktop environment. It
          is ideal for those who want the most out of their computers and prefer a traditional desktop metaphor. With
          modest hardware requirements, it is suitable for modern desktops and laptops alike.</p>
        <p>The operating system is more secure, and better supported than the operating system pre-installed on
          most home computer hardware today.</p>
        <p>Using Ubuntu Budgie provides you with the freedom to run a complete, full-featured operating system,
          pre-configured with most (if not all) of the applications you will need for your daily computing. Change
          anything about the way it looks, the way it works, or the applications it runs to suit your taste.</p>
      </div>
      <hr class="border-gray-400 my-8">
      <div>
        <h2 class="text-2xl font-bold mb-4">Objectives</h2>
        <p>Ubuntu Budgie has a number of guiding objectives and goals:</p>
        <ul class="list-disc pl-8">
          <li>Accessible to all, regardless of language and physical ability.</li>
          <li>Increase both Ubuntu and Budgie desktop user adoption.</li>
          <li>Create a Ubuntu based distro for users who prefer a traditional desktop metaphor.</li>
          <li>When possible contribute to Upstream projects such as BuddiesofBudgie and Debian so all Linux
            communities benefit.</li>
          <li>Software selection will favor functionality and stability over lightness and whimsy.</li>
        </ul>
      </div>
      <hr class="border-gray-400 my-8">
      <div>
        <h2 class="text-2xl font-bold mb-4">Budgie Desktop</h2>
        <p>Ubuntu Budgie uses the Budgie Desktop environment, which is a feature-rich, modern desktop designed to
          keep out of the way and let you focus on what you do best.</p>
        <p>Key features include:</p>
        <ul class="list-disc pl-8">
          <li>Highly customizable and powerful Raven sidebar.</li>
          <li>Supports GNOME applications.</li>
          <li>Built-in Night Light to reduce eye strain.</li>
          <li>Integrated notification center.</li>
        </ul>
      </div>
      <div class="mt-8">
        <h3 class="text-xl font-semibold mb-4">Key Applications</h3>
        <table class="table-auto w-full text-center">
          <tr>
            <td><img src="img/applications/gnome-files.svg" height="64"width="64" class="mx-auto"></td>
            <td><img src="img/applications/firefox.svg" height="64"width="64" class="mx-auto"></td>
            <td><img src="img/applications/libreoffice.svg" height="64"width="64" class="mx-auto"></td>
            <td><img src="img/applications/gnome-software.svg" height="64"width="64"class="mx-auto"></td>
            <td><img src="img/applications/rhythmbox.svg" height="64"width="64"class="mx-auto"></td>
          </tr>
          <tr>
            <th class="text-sm">Nemo</th>
            <th class="text-sm">Firefox</th>
            <th class="text-sm">LibreOffice</th>
            <th class="text-sm"><span name="software-center">AppCenter</span></th>
            <th class="text-sm before2210">Rhythmbox</th>
            <th class="text-sm after2204">Lollypop</th>
          </tr>
          <tr class="text-gray-400 text-xs">
            <td><small>File Manager</small></td>
            <td><small>Web Browser</small></td>
            <td><small>Office Suite</small></td>
            <td><small>Software Store</small></td>
            <td><small>Music Player</small></td>
          </tr>
        </table>
        <p class="mt-4">All of which are highly customizable and managed via
          <a href="javascript:void(0);">
            <img src="img/applications/control-center.svg" height="16" width="16" class="inline-block align-middle">
          <span class="after2110">Budgie Control Center</span></a>.
        </p>
        <p>Budgie desktop provides an intuitive and attractive desktop environment using traditional metaphors,
          which means if you've ever used
          <a href="https://www.microsoft.com">
            <span class="fa fa-windows"></span>Windows</a> or
          <a href="https://www.apple.com">
            <span class="fa fa-apple"></span>OS X</a>,
          it will feel very familiar.
        </p>
      </div>
      <div class="mt-8">
        <h3 class="text-xl font-semibold mb-4">Open Source</h3>
      </div>
      <div class="row">
        <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70 width=auto" >
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">Open Source</h3>
         <img src="img/logos/osi.png" alt="Open Source Initiative" class="max-w-full mx-auto">
          <p class="mt-2 text-gray-500 dark:text-neutral-400">
            <p>What Linux, Ubuntu and Budgie desktop all have in common is they are Open Source. This software can be
              freely used, changed, and shared (in modified or unmodified form) by anyone. In a nutshell Ubuntu Budgie
              is free, in the truest sense of the word.</p>
            <p>Although you will find some distributions (variations) of Linux for purchase, the vast majority are
              provided free of charge, like Ubuntu Budgie. The distribution is licensed in a way that allows anyone to
              give it away for free, with no strings attached. For example, the license gives any member of the user
              community the freedom to use Linux for any purpose, to distribute, modify, redistribute, or even sell the
              operating system. If you do modify and then redistribute Linux with your modifications, you are required
              by the license to submit your modifications for possible inclusion into future versions. There is no
              guarantee that this will ever happen, but if you have made it better, then your changes just might be
              included in the next release of Ubuntu Budgie.</p>
            <p>Many of the users of Linux are corporations that use the operating system to run their businesses, or
              include it within their products. Many of these corporations provide fixes and new features for Linux as
              they use the software for their businesses.
              <a href="https://www.linuxfoundation.org/news-media/infographics/who-writes-linux-2015">
                These improvements are given back</a>
              to the Linux community and Ubuntu Budgie improves as a result. This is how we can continually improve
              and grow without having to charge our users money.</p>
            <p>Unlike Windows and OS X, Linux is not created and supported by just one company. It is supported by
              Intel, Redhat, Linaro, Samsung, IBM, SUSE, Texas Instruments, Google, Canonical, Oracle, AMD, and
              Microsoft. Over 4,000 developers contributed to Linux over the last 15 years.</p>
            <p>Whether you are a home user of Ubuntu Budgie, a Ubuntu Budgie software or application developer, or an
              employee of an organization that uses the operating system, you are a member of the Linux and Open Source
              communities and benefit from the efforts of the developers who contribute to Ubuntu Budgie and its related
              projects: Linux, Budgie desktop, and Ubuntu. Members of the community run Linux on almost any hardware,
              from the prettiest Macbook to the cheapest netbook, from the newest Chromebook to some very old machines
              designed for Windows, and from the most powerful Internet servers to the smallest smart thermostat.</p>    </p>

        </div>
      </div>
    </div>
  </div>
</br>

		
	</body>