<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script>import "preline/dist/preline.js";</script>

	</head>

  <body class="bg-gray-100 fade-in duration-1000">
    <div id="wrapper" class="min-h-screen flex flex-col items-center justify-center">
      <div id="title-inject" class="text-2xl font-bold mb-4">&zwnj;Donate&zwnj;</div>
      <div id="content" class="container mx-auto p-4 bg-white shadow-md rounded">
        <div class="mb-4">
          <p class="mb-4">&zwnj;<strong>Ubuntu Budgie</strong> is a community-driven GNU/Linux distribution that combines the powerful Ubuntu base with the beautiful Budgie Desktop to provide a user-friendly, modern desktop operating system.&zwnj;</p>
  
          <p class="mb-4">&zwnj;The goal of Ubuntu Budgie is to provide a stable operating system that offers a familiar user experience, and usable for both newbies and advanced users alike. We are part of the official Ubuntu community, which provides for you better visibility and support. However, we don't get any funding from Canonical (the company that pays for Ubuntu up-keep and development).&zwnj;</p>
  
          <p class="mb-4">&zwnj;Ubuntu Budgie is an open-source project and any money raised will be used to meet maintenance costs of the project, support the project and give back to all projects that make up Ubuntu Budgie. Every contributor will be displayed proudly on our website. How your money is spent is displayed so you can be assured your contributions are being used wisely. Patreon donations will be made visible on confirmation of the donation received at the beginning of the next month. Paypal donations will appear ASAP after the donation is received.&zwnj;</p>
  
          <p>&zwnj;If you believe that our cause is worthy and it is something that needs to go on without any barriers, then please consider contributing to the project.&zwnj;</p>
        </div>
        <div class="flex justify-center space-x-8 mt-8">
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZZZLS8W5QC8US">
            <img src="img/logos/paypal.svg" class="w-24 h-auto">
          </a>
          <a href="https://www.patreon.com/user?u=3038166&ty=h&u=3038166">
            <img src="img/logos/patreon.png" class="w-24 h-auto">
          </a>
        </div>
      </div>
    </div>
  </body>
  