<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script>import "preline/dist/preline.js";</script>
	</head>
	<body class="bg-gray-100 transition-opacity duration-1000">
        <div id="wrapper">
        <br>  
            <div id="title-inject" class="text-center mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">&zwnj;Features&zwnj;</div>  
            <div id="content" class="container mx-auto fade-in">
                <div class="fade-in">
                    <div class="w-full">
                        <!-- Body content -->
                        <h2 class="text-3xl font-semibold mb-4">&zwnj;Modern and Full-Featured&zwnj;</h2>
                        <p class="mb-8">&zwnj;Ubuntu Budgie is a modern computer operating system, with an attractive and easy to understand user interface. Its update manager keeps not only the operating system itself, but all of its installed applications updated to the current release. The operating system is more secure, and better supported than operating systems that come pre-installed on most home computer hardware today.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <h3 class="fade-in text-2xl font-semibold mb-4">&zwnj;Pre-Configured Yet Flexible&zwnj;</h3>
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/gnome-settings.svg" alt="Settings Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;Using Ubuntu Budgie provides you with the freedom to run a complete, full-featured operating system, pre-configured with most, if not all, of the applications you will need for your daily computing - or to change anything about the way it looks, the way it works, or the applications it runs to suit your taste.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <h3 class="fade-in text-2xl font-semibold mb-4">&zwnj;Built-In Security&zwnj;</h3>
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/updation.svg" alt="Updation Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;Ubuntu Budgie is designed with security in mind. Unlike operating systems that update only once a month, Ubuntu Budgie receives updates continuously. The updates include security patches for Ubuntu Budgie and all of its components. Security updates for all of its installed applications are also provided on the same schedule. This ensures that you have the latest protection for all of your computer's software -- as soon as it's available!&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/protection.svg" alt="Protection Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;Ubuntu Budgie can get viruses and other infections... but it is rare. Rapid and timely updates make it difficult for viruses, root kits and other malware to be installed and run without conscious intervention by you, the user. Even if you do accidentally invite in an infection, chances are it's designed to attack Windows and won't do much, if any damage to Ubuntu Budgie.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/security.svg" alt="Security Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;Another significant security feature of Ubuntu Budgie is that its users are not superusers by default. Superusers (also known as "root" users or administrators) on any computer system have permission to do anything they want, including the ability to damage the system.&zwnj;</p>
                        <p>&zwnj;For example, other operating systems look at the name of a file to determine which program should open it, then immediately attempt to open it. That design makes it easy for an intruder to attack a computer. Ubuntu Budgie opens a file based on what the file is, not based on its name. So even if a malicious program disguises its identity by using the name "Last Will and Testament.txt" Ubuntu Budgie will recognize the file as a program. The system provides a warning that the file is not a text file, but that it is a program that will be run if you give it permission to continue. To be extra secure, Ubuntu Budgie requires you to provide your administrator password before that permission is granted. Every single time.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in">
                    <div class="w-full">
                        <h2 class="text-3xl font-semibold mb-4">&zwnj;Powerful Applications&zwnj;</h2>
                        <p class="mb-8">&zwnj;While budgie-desktop provides the essential user interface to control and use a computer, Ubuntu Budgie adds a collection of additional applications to turn your computer into a truly powerful workstation.&zwnj;</p>
                        <h3 class="text-2xl font-semibold mb-4">&zwnj;Productivity&zwnj;</h3>
                    </div>
                </div>
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/firefox.png" alt="Firefox Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;<span class="font-semibold">Firefox</span> delivers safe, easy web browsing. A familiar user interface, enhanced security features including protection from online identity theft, and an integrated search to let you get the most out of the web.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/libreoffice.svg" alt="LibreOffice Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;<span class="font-semibold">LibreOffice</span> is a full-featured office productivity suite that provides a near drop-in replacement for Microsoft(R) Office; its clean interface and powerful tools let you unleash your creativity and grow your productivity. LibreOffice embeds several applications that make it the most powerful Free and Open Source Office suite on the market:&zwnj;</p>
                        <ul class="list-disc list-inside pl-4">
                            <li class="flex items-center"><img class="w-5 h-5 mr-2" src="img/applications/libreoffice/libreoffice-writer.svg" alt="Writer Icon"> &zwnj;Writer, the word processor.&zwnj;</li>
                            <li class="flex items-center"><img class="w-5 h-5 mr-2" src="img/applications/libreoffice/libreoffice-calc.svg" alt="Calc Icon"> &zwnj;Calc, the spreadsheet application.&zwnj;</li>
                            <li class="flex items-center"><img class="w-5 h-5 mr-2" src="img/applications/libreoffice/libreoffice-impress.svg" alt="Impress Icon"> &zwnj;Impress, the presentation engine.&zwnj;</li>
                            <li class="flex items-center"><img class="w-5 h-5 mr-2" src="img/applications/libreoffice/libreoffice-draw.svg" alt="Draw Icon"> &zwnj;Draw, the drawing and flowcharting application&zwnj;</li>
                            <li class="flex items-center"><img class="w-5 h-5 mr-2" src="img/applications/libreoffice/libreoffice-math.svg" alt="Math Icon"> &zwnj;Math, for editing mathematics.&zwnj;</li>
                        </ul>
                    </div>
                </div>
                <hr class="my-8">
                <h3 class="fade-in text-2xl font-semibold mb-4">&zwnj;Entertainment&zwnj;</h3>
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/rhythmbox.svg" alt="Rhythmbox Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;<span class="before:content-['Rhythmbox'] after:hidden">Lollypop</span> is a very easy to use music playing and management program which supports a wide range of audio formats (including mp3 and ogg).&zwnj;</p>
                        <p>&zwnj;Goodvibes supports Internet Radio.&zwnj;</p>
                        <p>&zwnj;gPodder supports Podcasts.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/gnome-photos.svg" alt="Photos Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;<span class="font-semibold">gThumb</span> is a digital photo organizer. It allows you to import photos from disk or camera, organize them in various ways, view them in full-window or fullscreen mode, and export them to share with others. It is able to manage a lot of different image formats.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/gnome-mpv.png" alt="Media Player Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;<span class="before:content-['Celluloid'] after:hidden">Parole</span> is a media player. It plays MPEG, MPEG-2, MPEG-4, DivX, MOV, WMV, QuickTime, WebM, FLAC, MP3, Ogg/Vorbis files, DVDs, VCDs, podcasts, and multimedia streams from various network sources.&zwnj;</p>
                    </div>
                </div>
                <hr class="my-8">
                <div class="fade-in text-center">
                    <h4 class="text-xl font-semibold mb-4">&zwnj;... And a whole lot more!&zwnj;</h4>
                    <p>&zwnj;Naturally you'll also find a document/photo scanner and printer management all included in Ubuntu Budgie. And this is just the start. <a href="#" class="text-blue-500 underline" onclick="cmd('software-center');"><span name="software-center"></span></a> includes best-in-class applications for most tasks and a single click will give you access to thousands of applications suitable for just about any professional or recreational pursuit.&zwnj;</p>
                </div>
                <hr class="my-8">
                <h3 class="fade-in text-2xl font-semibold mb-4">&zwnj;Games&zwnj;</h3>
                <div class="fade-in flex items-center mb-8">
                    <div class="w-1/6 flex justify-center">
                        <img class="w-16 h-16" src="img/applications/steam.svg" alt="Steam Icon">
                    </div>
                    <div class="w-5/6">
                        <p>&zwnj;In the last couple of years Linux has become a first-class gaming platform thanks to <a href="https://www.valvesoftware.com" class="text-blue-500 underline">Valve</a> bringing their <a href="https://store.steampowered.com" class="text-blue-500 underline">Steam</a> platform to Linux. At the time of writing Steam has more than 2000 high quality indie and AAA titles available for Linux. Ubuntu Budgie is fully compatible with Steam for Linux.&zwnj;</p>
                        <p>&zwnj;While Steam is a major step forward for gaming on Linux, there are also many high quality and enjoyable Open Source games titles available for Ubuntu Budgie. It doesn't matter if you like flight simulators, motor racing, first person shooters, jump and run or card games, you'll find something to keep you entertained.&zwnj;</p>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </body>





    </body>