<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script>import "preline/dist/preline.js";</script>

	</head>
	<body class="bg-gray-100 fade-in duration-1000">
		<div id="wrapper" class="min-h-screen flex flex-col items-center justify-center">
		  <div id="title-inject" class="text-2xl font-bold mb-4">Ubuntu Budgie &zwnj;Online Store&zwnj;</div>
		  <div id="content" class="container mx-auto p-4 bg-white shadow-md rounded">
			<div class="mb-4">
			  <h2 class="text-xl font-semibold mb-2">Ubuntu Budgie &zwnj;Online Store&zwnj;</h2>
			  <h3 class="text-lg font-medium mb-2">&zwnj;I supported Ubuntu Budgie, and all I got was this awesome t-shirt!&zwnj;</h3>
			  <p class="mb-4">&zwnj;...and some stickers, a backpack, and more!&zwnj;</p>
			  <img src="img/shop/ubuntu_budgie_shop_final.png" class="mb-4 w-full h-auto">
			  <p class="mb-4">&zwnj;Would you like to support the project, spread the word, or maybe avoid laundry just one more day? You can pick up some merchandise, and a portion of the sale will be put to good use. We support open-source and any money raised will go towards open-source developers as well as Ubuntu Budgie itself.&zwnj;</p>
			  <hr class="my-4">
			  <div class="alert alert-info p-4 bg-blue-100 border-l-4 border-blue-500 text-blue-700">
				&zwnj;Please note that the button below will take you to an external site for browsing and purchasing.&zwnj;
			  </div>
			  <div class="text-center mt-4">
				<a href="https://ubuntubudgie.org/merch" class="inline-flex items-center px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-700">
				  <img src="img/distro-icon-inverted.svg" class="w-6 h-6 mr-2">
				  <span>Ubuntu Budgie &zwnj;Online Store&zwnj;</span>
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </body>