GtkWindow {
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0
}

GtkHeaderBar{
  background: #404552;
  border: none;
  margin: 0;
  box-shadow: none;
  font-size: 12px;
  font-family: 'Ubuntu Mono';
}

GtkLabel {
  color: white;
  padding-left: 20px;
  font-size: 14px;
}

#about-btn {
  color: white;
  padding: 2px 10px;
  border: 1px solid #888;
  background: #404552;
  box-shadow: none;
}

#about-btn:hover {
  background: rgba(255, 255, 255, 0.25);
  transition: background 0.5s ease;
}
