[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[ca]=Discurs del Budgie
Name[de_DE]=Budgie Discourse
Name[en_GB]=Budgie Discourse
Name[es]=Discourse de Budgie
Name[fr]=Budgie Discourse
Name[hu]=Budgie Discourse
Name[it]=Budgie Discourse
Name[ja]=Budgie 談話
Name[lt]=Budgie Discourse
Name[ms_MY]=Budgie Discourse
Name[pl]=Budgie Discourse
Name[pt_BR]=Budgie Discourse
Name[pt_PT]=Discourse do Budgie
Name[sr_RS]=Budgie Discourse
Name=Budgie Discourse
Exec=xdg-open "https://discourse.ubuntubudgie.org"
Icon=distributor-logo-ubuntu-budgie
Comment[ca]=Formeu part de la comunitat d'Ubuntu Budgie
Comment[de_DE]=Werden Sie Teil der Ubuntu Budgie Community
Comment[en_GB]=Be part of the Ubuntu Budgie Community
Comment[es]=Se parte de la Comunidad Ubuntu Budgie
Comment[fr]=Faites partie de la communauté Ubuntu Budgie
Comment[hu]=Legyen tagja Ön is az Ubuntu Budgie közösségnek
Comment[it]=Entra a far parte della Ubuntu Budgie Community
Comment[ja]=Ubuntu Budgieコミュニティの一員になりましょう
Comment[lt]=Tapkite Ubuntu Budgie bendruomenės dalimi
Comment[ms_MY]=Jadilah sebahagian daripada Komuniti Ubuntu Budgie
Comment[pl]=Bądź częścią społeczności Ubuntu Budgie
Comment[pt_BR]=Faça parte da Comunidade Ubuntu Budgie
Comment[pt_PT]=Faça parte da Comunidade Ubuntu Budgie
Comment[sr_RS]=Budi deo Ubuntu Budgie Zajednice
Comment[tr]=Ubuntu Budgie Topluluğunun bir parçası olun
Comment=Be part of the Ubuntu Budgie Community
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
