[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[de_DE]=Budgie Anwendungen
Name[en_GB]=Budgie Applets
Name[es]=Miniaplicaciones de Budgie
Name[fa]=اَپلت های بادجی
Name[fr]=Applets Budgie
Name[it]=Applet Budgie 
Name[ko]=Budgie 애플릿
Name[lt]=Budgie programėlės
Name[ms_MY]=Aplet Budgie
Name[pl]=Aplety Budgie
Name[pt_BR]=Miniaplicativos do Budgie
Name[tr]=Budgie Uygulamaları
Name=Budgie Applets
Exec=budgie-welcome --jump-to=budgie-applets
Icon=distributor-logo-ubuntu-budgie
Comment[en_GB]=Customise the desktop panel with applets that provide extra capabilities
Comment[es]=Personaliza el panel de escritorio con miniaplicaciones que proveen capacidades adicionales.
Comment[fr]=Customise le panel du bureau avec des applets ajoutant des fonctionnalités supplémentaires
Comment[ms_MY]=Suaikan panel desktop dengan aplet yang dapat menyediakan keupayaan tambahan
Comment[pl]=Dostosuj panel pulpitu przy pomocy apletów z dodatkowymi funkcjami
Comment[tr]=Ekstra yetenekler sunan uygulamalarla masaüstü panelinizi özelleştirin
Comment=Customize the desktop panel with applets that provide extra capabilities
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
