[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[bg]=Budgie Добре дошли
Name[ca]=Benvinguda del Budgie
Name[da]=Budgie Velkomst
Name[de_DE]=Willkommen zu Budgie
Name[el]=Εφαρμογή υποδοχής Budgie
Name[en_GB]=Budgie Welcome
Name[eo]=Budgie Welcome
Name[es]=Bienvenida de Budgie
Name[fa]=خوش آمد گویی بادجی
Name[fr]=Budgie Bienvenue
Name[hu]=Budgie Welcome
Name[id_ID]=Budgie Selamat Datang
Name[it]=Budgie Welcome
Name[ja]=Budgie へようこそ
Name[ko]=Budgie 환영
Name[lt]=Budgie Sveiki
Name[ms_MY]=Aluan Budgie
Name[nl_NL]=Budgie Welkom
Name[pl]=Witaj w Budgie
Name[pt_BR]=Boas-Vindas Budgie
Name[ru]=Приветствие Budgie
Name[sr_RS]=Budgie Welcome
Name[tr]=Budgie Hoşgeldiniz
Name=Budgie Welcome
Exec=budgie-welcome
Icon=distributor-logo-ubuntu-budgie
Comment[ca]=Descobriu el sistema operatiu
Comment[de_DE]=Mehr über das Betriebssystem erfahren
Comment[en_GB]=Find out about your operating system
Comment[eo]=Eltrovu pli pri via operaciumo
Comment[es]=Encuentre información acerca de su sistema operativo
Comment[fr]=Informations sur votre système d'exploitation
Comment[hu]=Ismerje meg az operációs rendszert
Comment[id_ID]=Cari tahu tentang sistem operasi Anda
Comment[it]=Scopri di più sul tuo sistema operativo
Comment[ja]=お使いのオペレーティングシステムについて知る
Comment[ko]=설치된 운영 체제에 대해 알아보기
Comment[lt]=Sužinokite apie savo operacinę sistemą
Comment[ms_MY]=Ketahui tentang sistem pengoperasian anda
Comment[nl_NL]=Alles over je besturingssysteem
Comment[pl]=Zapoznaj się z informacjami o swoim systemie operacyjnym
Comment[pt_BR]=Veja informações sobre o seu sistema
Comment[ru]=Познакомьтесь со своей операционной системой
Comment[sr_RS]=Saznajte više o svom operativnom sistemu
Comment[tr]=İşletim sisteminiz hakkında bilgi edinin
Comment[zh_TW]=了解你的作業系統
Comment=Find out about your operating system
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
StartupWMClass=budgie-welcome
