[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[ca]=Temes i disposicions del Budgie
Name[en_GB]=Budgie Themes & Layouts
Name[es]=Diseño y Temas de Budgie
Name[lt]=Budgie temos ir išdėstymai
Name[ms_MY]=Tema & Bentangan Budgie
Name[pt_BR]=Temas e layouts do Budgie
Name[pt_PT]=Temas & Esquemas do Budgie
Name[tr]=Budgie Temaları & Yerleşimleri
Name=Budgie Themes & Layouts
Exec=budgie-welcome --jump-to=default
Icon=distributor-logo-ubuntu-budgie
Comment[ca]=Maquilleu l'escriptori amb temes, icones, lletres i disposicions noves.
Comment[en_GB]=Give the desktop a makeover with new themes, icons, fonts & layouts
Comment[es]=Dar al escritorio un cambio de imagen con temas, iconos, fuentes y diseños nuevos
Comment=Give the desktop a makeover with new themes, icons, fonts & layouts
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
StartupWMClass=budgie-welcome
