[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[de_DE]=Budgie Themes
Name[en_GB]=Budgie Themes
Name[es]=Budgie Temas
Name[fr]=Thèmes Budgie
Name[it]=Temi Budgie
Name[ko]=Budgie 테마
Name[lt]=Budgie temos
Name[ms_MY]=Tema Budgie
Name[pl]=Motywy Budgie
Name[pt_BR]=Temas Budgie
Name[tr]=Budgie Temaları
Name=Budgie Themes
Exec=budgie-welcome --jump-to=default
Icon=distributor-logo-ubuntu-budgie
Comment[de_DE]=Verleihen Sie dem Desktop ein neues Gesicht mit neuen Themen, Symbolen und Schriften
Comment[en_GB]=Give the desktop a makeover with new themes, icons and fonts
Comment[es]=Transforma el escritorio con nuevos temas, iconos y fuentes.
Comment[fr]=Personnalisation de l'apparence du bureau avec de nouvelles icônes, polices et thèmes.
Comment[it]=Fai un restyling del desktop con i nuovi temi, icone e caratteri 
Comment[ko]=데스크톱에 새로운 테마, 아이콘 및 폰트로 꾸며주기
Comment[lt]=Pagražinkite darbalaukį naujomis temomis, piktogramomis ir šriftais
Comment[ms_MY]=Ubah penampilan desktop dengan tema, ikon dan fon serba baharu
Comment[pl]=Odmień wygląd pulpitu poprzez nowe motywy, ikony i czcionki
Comment[pt_BR]=Mude o visual da sua área de trabalho com novos temas, ícones e fontes
Comment[tr]=Masaüstüne yeni temalar, simgeler ve yazı tipleri içeren bir makyaj verin
Comment=Give the desktop a makeover with new themes, icons and fonts
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
