[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[en_GB]=Budgie Themes
Name[fr]=Thèmes Budgie
Name[pl]=Motywy Budgie
Name[tr]=Budgie Temaları
Name=Budgie Themes
Exec=budgie-welcome --jump-to=default
Icon=distributor-logo-ubuntu-budgie
Comment[en_GB]=Give the desktop a makeover with new themes, icons and fonts
Comment[fr]=Change l'apparence du bureau avec de nouvelles icônes, polices et thèmes.
Comment[pl]=Odmień wygląd pulpitu poprzez nowe motywy, ikony i czcionki
Comment[tr]=Masaüstüne yeni temalar, simgeler ve yazı tipleri içeren bir makyaj verin
Comment=Give the desktop a makeover with new themes, icons and fonts
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
