[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[en_GB]=Budgie Discourse
Name[es]=Discourse de Budgie
Name[fr]=Budgie Discourse
Name[hu]=Budgie Discourse
Name[it]=Budgie Discourse
Name[lt]=Budgie Discourse
Name=Budgie Discourse
Exec=xdg-open "https://discourse.ubuntubudgie.org"
Icon=distributor-logo-ubuntu-budgie
Comment[en_GB]=Be part of the Ubuntu Budgie Community
Comment[es]=Se parte de la Comunidad Ubuntu Budgie
Comment[fr]=Faites partie de la communauté Ubuntu Budgie
Comment[hu]=Legyen tagja Ön is az Ubuntu Budgie közösségnek
Comment[it]=Entra a far parte della Ubuntu Budgie Community
Comment[lt]=Tapkite Ubuntu Budgie bendruomenės dalimi
Comment[tr]=Ubuntu Budgie Topluluğunun bir parçası olun
Comment=Be part of the Ubuntu Budgie Community
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
