[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name[bg]=Budgie аплети
Name[ca]=Miniaplicacions del Budgie
Name[da]=Budgie-applets
Name[de_DE]=Budgie Applets
Name[el]=Εφαρμογίδια Budgie
Name[en_GB]=Budgie Applets
Name[eo]=Budgie apletoj
Name[es]=Miniaplicaciones de Budgie
Name[fa]=اَپلت های بادجی
Name[fr]=Applets Budgie
Name[hu]=Budgie appletek
Name[id_ID]=Applet Budgie
Name[it]=Applet Budgie 
Name[ja]=Budgie アプレット
Name[ko]=Budgie 애플릿
Name[lt]=Budgie programėlės
Name[ms_MY]=Aplet Budgie
Name[nl_NL]=Budgie Applets
Name[pl]=Aplety Budgie
Name[pt_BR]=Miniaplicativos do Budgie
Name[pt_PT]=Mini-aplicações do Budgie
Name[ru]=Апплеты Budgie
Name[sr_RS]=Budgie Dodaci
Name[tr]=Budgie Uygulamaları
Name=Budgie Applets
Exec=budgie-welcome --jump-to=budgie-applets
Icon=distributor-logo-ubuntu-budgie
Comment[ca]=Personalitzeu el plafó de l'escriptori amb miniaplicacions que proporcionin funcions extres.
Comment[de_DE]=Passen Sie das Desktop-Panel mit Applets an, die zusätzliche Funktionen bieten
Comment[en_GB]=Customise the desktop panel with applets that provide extra capabilities
Comment[eo]=Tajlori la labortablan panelon kun apletojn, kiuj provizas ekstrajn kapablojn
Comment[es]=Personalice el panel de escritorio con miniaplicaciones que proveen capacidades adicionales
Comment[fr]=Personnaliser le panel du bureau avec des applets qui ajoutent des fonctionnalités supplémentaires
Comment[hu]=Szabja testre az asztali panelt appletekkel, amelyek további funkcionalításokat kínálnak
Comment[id_ID]=Sesuaikan panel desktop dengan applet yang memberikan kemampuan ekstra
Comment[it]=Personalizza il panello del desktop con le applet che offrono delle possibilità aggiuntive
Comment[ja]=追加機能を提供するアプレットでデスクトップパネルをカスタマイズします
Comment[ko]=다양한 기능을 제공하는 애플릿으로 데스크톱 패널을 커스터마이징하기
Comment[lt]=Tinkinti darbalaukio skydelį programėlėmis, kurios pateikia papildomas galimybes
Comment[ms_MY]=Suaikan panel desktop dengan aplet yang dapat menyediakan keupayaan tambahan
Comment[nl_NL]=Personaliseer het desktop paneel met applets die extra functionaliteit toevoegen
Comment[pl]=Dostosuj panel pulpitu przy pomocy apletów dostarczających przydatne funkcje
Comment[pt_BR]=Personalize o painel da área de trabalho com miniaplicativos que fornecem funcionalidades extras
Comment[pt_PT]=Personalize o painel do ambiente de trabalho com mini-aplicações que fornecem funcionalidades extras
Comment[ru]=Настройте панель рабочего стола с помощью апплетов, которые предоставляют дополнительные возможности
Comment[sr_RS]=Izmenite desktop panel sa dodacima koji nude dodatne mogućnosti.
Comment[tr]=Ekstra yetenekler sunan uygulamalarla masaüstü panelinizi özelleştirin
Comment=Customize the desktop panel with applets that provide extra capabilities
Keywords=desktop;preferences;
OnlyShowIn=Budgie;
StartupWMClass=budgie-welcome
